
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #d8ddef;
}


.chat-container {
    width: 350px;
    height: 600px;
    background: #7293a0;
    border-radius: 10px;
    box-shadow: 0 4px 10px black(0, 0, 0, 0.2);
    display: flex;
    border: solid black;
    flex-direction: column;
    
}

.chat-header {
    background: #45b69c;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.chat-box {
    flex: 2;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}


.message {
    max-width: 75%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.bot {
    background:#45b69c;
    color: white;
    align-self: flex-start;
}

.user {
    background: white;
    color: black;
    align-self: flex-end;
}


.chat-input {
    display: flex;
    padding: 10px;
    background: white;
    border-top: 1px solid white;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.chat-input button {
    background: #45b69c;
    color: white;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 5px;
    border:none;
    cursor: pointer;
}
