* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
#contenitore{

    background-image: url(IMMAGINI/a2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
}
.header-container-bg{
    background-color: #d8ddef;
}

.font-weight{
    font-weight: 500;
    color: #45b69c !important;
}

.nav-link:hover{
    color: #45b69c !important;
}

.dropdown-item:active{
    background-color: #d8ddef !important;
}

.btn{
    background-color: #21d19f !important;
    border-color: #45b69c !important;
    color: white !important;
}

.btn:hover{
    background-color: #45b69c !important;
    color: white !important;
}

.btn:active{
    background-color: #45b69c !important;
    transform: scale(0.95);
}
.cart-icon{
    color: white;
}
/* fine header */
.custom-col{
    background-color: #21d19f !important;
}
h1{
    text-align: center;

}
.footer-container-bg{
    background-color: #d8ddef; /*#21d19f*/  
}
