* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
body{

    background-image: url(IMMAGINI/a.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

}
.custom-col{
    background-color: #21d19f !important;
}

