body {
     
}

.header-container-bg .btn {
    background-color: #45b69c !important;
    border-color: #45b69c !important;
    color: white !important;
}
.header-container-bg  {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #d8ddef;
    text-align: center;
    padding: 10px 0;
    z-index: 15;
}

.header-container-bg .btn:hover {
    background-color: #21d19f !important;
    color: white !important;
}
.font-weight{
    font-weight: 500;
    color: #45b69c !important;;
}
.nav-link:hover{
    color: #45b69c !important;
}
.dropdown-item:active{
    background-color: #d8ddef !important;
}
.btn{
    background-color: #21d19f !important;
    border-color: #45b69c !important;
    color: white !important;
}
.btn:hover{
    background-color: #45b69c !important;
    color: white !important;
}
.btn:active{
    background-color: #45b69c !important;
    transform: scale(0.95);
}
.cart-icon{
    color: white;
}
.faq-section {
    margin-top: 40px;
}
.faq-item {
    margin-bottom: 20px;
}
summary {
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    color: #45b69c;
}
details[open] summary {
    color: #45b69c;
}
details p {
    margin-top: 10px;
    font-size: 1rem;
    color: #000000;
}
.footer-container-bg{
    background-color: #d8ddef !important; /*#21d19f*/  
    
}