body {
    background-color: #ffffff;
}
.header-container-bg{
    background-color: #d8ddef;
}
.font-weight{
    font-weight: 500;
    color: #45b69c;;
}
.nav-link:hover{
    color: #45b69c !important;
}
.dropdown-item:active{
    background-color: #d8ddef !important;
}
.btn{
    background-color: #21d19f;
    border-color: #45b69c !important;
    color: white;
}
.btn:hover{
    background-color: #45b69c;
    color: white;
}
.btn:active{
    background-color: #45b69c !important;
    transform: scale(0.95);
}
.cart-icon{
    color: white;
}
.faq-section {
    margin-top: 40px;
}
.faq-item {
    margin-bottom: 20px;
}
summary {
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    color: #45b69c;
}
details[open] summary {
    color: #45b69c;
}
details p {
    margin-top: 10px;
    font-size: 1rem;
    color: #555;
}
.footer-container-bg{
    background-color: #d8ddef; /*#21d19f*/  
    
}