
.font-weight{
    font-weight: 500;
    color: #45b69c;;
}
.nav-link {
    color: #45b69c !important;
}

.nav-link:hover{
    color: #45b69c !important;
}


.dropdown-item:active{
    background-color: #d8ddef !important;
}

.btn{
    background-color: #21d19f;
    border-color: #45b69c !important;
    color: white;
}

.btn:hover{
    background-color: #45b69c !important;
    color: white;
}

.btn:active{
    background-color: #45b69c !important;
    transform: scale(0.95);
}


body {
    background-color: #d8ddef;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    
   
}
.header-container-bg {
    background-color: #d8ddef;
   
}



.container {
    flex-grow: 1;
    width: auto;
    height: 400px;
    background-image: url('laptop.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    flex-grow: 1; 
}


.box {
    background: #7293a0;
    padding: 30px;
    width: 400px;
    max-width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    text-align: center;
}


.box i {
    font-size: 40px;
    margin-bottom: 15px;
    color: #d8ddef;
}


.box h2 {
    font-size: 30px;
    margin-bottom: 10px;
}


.box p {
    font-size: 16px;
    color: #d8ddef;
    margin-bottom: 20px;
}


.box a {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background: #333;
    border-radius: 5px;
}


.box a:hover {
    background: #21d19f;
}


.footer-container-bg {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #d8ddef;
    text-align: center;
    padding: 20px 0;
}

