
.font-weight{
    font-weight: 500;
    color: #45b69c;;
}

.nav-link:hover{
    color: #45b69c !important;
}

.dropdown-item:active{
    background-color: #d8ddef !important;
}

.btn{
    background-color: #21d19f;
    border-color: #45b69c !important;
    color: white;
}

.btn:hover{
    background-color: #45b69c;
    color: white;
}

.btn:active{
    background-color: #45b69c !important;
    transform: scale(0.95);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a0a4b8;
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 250vh;
    background-color: #a0a4b8;
    margin: 100%;
    padding-top: 60px;  
    padding-bottom: 80px; 
}

.header-container-bg {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #d8ddef;
    padding: 10px 0;
    text-align: center;

}

.chat-wrapper {
    flex-grow: 1;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px; 
}



.chat-container {
    width: 350px;
    height: 600px;
    background: #7293a0;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    border: solid black;
    flex-direction: column;
}


.chat-header {
    background: #45b69c;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.chat-box {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.message {
    max-width: 75%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.bot {
    background: #45b69c;
    color: white;
    align-self: flex-start;
}

.user {
    background: white;
    color: black;
    align-self: flex-end;
}


.chat-input {
    display: flex;
    padding: 10px;
    background: white;
    border-top: 1px solid white;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.chat-input button {
    background: #45b69c;
    color: white;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.footer-container-bg {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #d8ddef;
    text-align: center;
    padding: 20px 0;
}