.header-container-bg{
    background-color: #d8ddef;
}

.font-weight{
    font-weight: 500;
    color: #45b69c;;
}

.nav-link:hover{
    color: #45b69c !important;
}

.dropdown-item:active{
    background-color: #d8ddef !important;
}

.btn{
    background-color: #21d19f;
    border-color: #45b69c !important;
    color: white;
}

.btn:hover{
    background-color: #45b69c;
    color: white;
}

.btn:active{
    background-color: #45b69c !important;
    transform: scale(0.95);
}
/* fine header */





.cart-icon{
    color: white;
}

/* footer */
.footer-container-bg{
    background-color: #d8ddef; /*#21d19f*/  
}

.central-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
}

.main-home-img{
    width: 100%;
}

.second-home-img{
    width: 100%;
}

.text-container{
    width: 100%;
}

.text{
    text-align: center;
    color: #7293a0; /*#21d19f*/
}

.men-categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.women-categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}

.carousel-inner{
    display: flex;
    width: 60vw;
    height: auto;
}

.carousel-item{
    width: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    border-radius: 8px;
    background-color:gray;
}

.container{
    display: flex;
    justify-content: center;
}

.row{
    width: 100%;
}

.row-gap{
    row-gap: 25px;
}

.home-product-card{
    width: 100% !important;
    transition: transform 0.4s ease;
}

.home-product-card:hover{
    transform: scale(1.07);
}