.header-container-bg{
    background-color: #d8ddef !important;
}

.font-weight{
    font-weight: 500;
    color: #45b69c;;
}

.nav-link:hover{
    color: #45b69c !important;
}

.dropdown-item:active{
    background-color: #d8ddef !important;
}

.btn{
    background-color: #21d19f;
    border-color: #45b69c !important;
    color: white !important;
}

.btn:hover{
    background-color: #45b69c !important;
    color: white !important;
}

.btn:active{
    background-color: #45b69c !important;
    transform: scale(0.95);
}

.footer-container-bg{
    background-color: #d8ddef; /*#21d19f*/  
}

.central-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
}

.row-gap{
    row-gap: 25px;
}

.centre-col{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    margin-top: 10px;
    max-width: 60%;
    max-height: 200px;
 }

 .btn-margin{
    margin-bottom: 10px;
 }

.fav-btn{
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    background-color: #21d19f !important;
    border-color: #45b69c !important;
    color: white;
}

.fav-icon{
    font-size: 26px;
    color: darkred;
}

.after-fav-icon{
    color: darkred;
}